body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background-color: #1A1A1D;
    color: #E0C097;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(145deg, #2E2E2E, #1A1A1D);
    border: 2px solid #E0C097;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(224, 192, 151, 0.5);
    animation: fadeIn 1s ease-in-out;
    width: 50rem;
}

#quoteContainer {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 100%;
    /* background-color: red; */
}

h1 {
    font-size: 22px;
    color: #E0C097;
    /* margin: auto; */
    justify-self: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
    padding: 2px 5px;
    mix-blend-mode: normal;
    width: fit-content;
}

h5 {
    font-size: 16px;
    color: #683c03;
    background-color: rgba(255, 252, 252, 0.6); /* Dark background with transparency */
    padding: 1px 4px;
    mix-blend-mode: normal;
    justify-self: center;
    width: fit-content;
}

#quotebuttons {
    display: flex;
}


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #8B5E3C;
    color: #F0EAD6;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1rem;
}

button:hover {
    background-color: #A67B5B;
    transform: scale(1.05);
}

/* Smooth Fade-In Animation */
@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}


@media (max-width: 768px) {
    button {
        font-size: 0.7rem;
    }
    
}
@media (max-width: 480px) {
    button {
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) {
    button {
        font-size: 0.4rem;
    }

}